%h1 Listing tenants

%table
  %tr
    %th
    %th
    %th

  - @tenants.each do |tenant|
    %tr
      %td= link_to 'Show', admin_tenant_path(tenant)
      %td= link_to 'Edit', edit_admin_tenant_path(tenant)
      %td= link_to 'Destroy', admin_tenant_path(tenant), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tenant', new_admin_tenant_path
