=form_for profile_field, :as => :profile_field, :url => settings_profile_field_path(profile_field.to_param), :remote => true do |f| 
  = render :partial => 'form', locals: {profile_field: profile_field, f: f}

