.dialog-container
  - if profile_fields.empty? 
    #profile_field_new
      %p
        Er zijn nog geen dialoog gesprekken gepland.
      = link_to "plan je eerste dialoogronde", new_settings_profile_field_path, :'data-remote' => true
  - else
    - profile_fields.each do |profile_field|
      = render partial: 'profile_field', locals: {profile_field: profile_field}
    #profile_field_new
      .actions
        = link_to "veld toevoegen", new_settings_profile_field_path, :'data-remote' => true

