.location-comment
  %h3 
    = message_subject(training_invitation)
    = message_info(training_invitation)
  .location-body
    = markup training_invitation.body
    .comment-actions
    .comment-actions-line
    .clear

