- title "Uitnodigingen voor #{@training.name}"
- context_action '.new_invitation', city_training_training_invitations_path(training_id: @training.to_param, anchor: "new_comment")
= render :partial => 'index', locals: {training_invitations: @training_invitations}
