.right_heading Inschrijvingen voor

%p
  = form_tag city_people_path, :method => :get, :remote => true, :id => 'filter_form' do 
    = label_tag 'Filter lijst'
    = select_tag :people_filter, options_for_select(people_filters_for_select)

%div#people_list
  = render partial: 'city/people/index' 

