- title "Deelnamen voor #{@person.name}"
- context_action 'back', :back
- page_side_bar 'side_bar'
%table.columns-layout{id: 'conversations'}
  = render :partial => 'index', locals: {available_locations: @available_locations, person: @person}
.clear
