%div#dialog-form
- title "Gespreksdeelnamen voor deelnemers beheren"
- context_action 'back', :back
- page_side_bar 'side_bar'
#conversations
  %h3= I18n.t("city.registrations.index.select_attendee")
.clear

