.conversation.readonly{:id => "conversation_#{conversation.to_param}"}
  %h3
    = time_period(conversation)
    %span.table-info
      maximaal aantal tafels: 
      = conversation.number_of_tables
  .conversation-container
    = render :partial => 'contributors', locals: { conversation: conversation }
