.dialog-container{:id => "conversation_#{conversation.to_param}"}
  .left
    = time_period(conversation)
  .right
    maximaal aantal tafels: 
    = conversation.number_of_tables
  .clear
  = render :partial => 'conversations/contributors', locals: { conversation: conversation }
