%h4 
  Gespreksleiders
- if conversation.conversation_leaders.empty?
  %p Geen gespreksleiders
- else
  %ul.person-list
    = render partial: 'shared/read_only_person', collection: conversation.conversation_leaders.map{|c| c.person}
.clear
%h4 
  Deelnemers
- if conversation.participants.empty?
  %p Geen deelnemers
- else
  %ul.person-list
    = render partial: 'shared/read_only_person', collection: conversation.participants.map{|p| p.person}
.clear

