- title "Inschrijvingen voor gespreksleiders beheren"
- context_action '.trainings', city_trainings_path
- page_side_bar 'side_bar'
#trainings
  %h3= I18n.t("city.training_registrations.index.select_attendee")

.clear

