%h4 
  Gespreksleiders
- if conversation.conversation_leaders.empty?
  %p Geen gespreksleiders
- else
  %ul.person-list
    = render partial: 'shared/person', collection: conversation.conversation_leaders
.clear
%h4 
  Deelnemers
- if conversation.participants.empty?
  %p Geen deelnemers
- else
  %ul.person-list
    = render partial: 'shared/person', collection: conversation.participants
.clear
