  

%h4 
  Gespreksleiders
- if conversation.conversation_leaders.empty?
  %p Geen gespreksleiders
- else
  %ul.person-list
    = render partial: 'shared/person', collection: conversation.conversation_leaders, locals: {contributor_type: 'conversation_leader'}
.clear
%h4 
  Deelnemers
- if conversation.participants.empty?
  %p Geen deelnemers
- else
  %ul.person-list
    = render partial: 'shared/person', collection: conversation.participants, locals: {contributor_type: 'participant' }
.clear
