Welkom bij dialoogtafels,

Er is een account voor je gemaakt.

Je kunt de onderstaande link in deze mail gebruiken om in te loggen en je wachtwoord te zetten.

= account_response_session_url(@account.perishable_token, :host => Tenant.current.host)

Als je niet kunt op de link kunt klikken, kun je hem kopieren en in de internet browser plakken.

