Je account is gereset,

Je kunt de onderstaande link in deze mail gebruiken om in te loggen en je wachtwoord te zetten.

= account_response_session_url(@account.authentication_token, :host => @account.tenant.host)

Als je niet kunt op de link kunt klikken, kun je hem kopieren en in de internet browser plakken.
