.captcha-container
  Type hier de onderstaande woorden met een spatie ertussen. Gebruik eventueel het refresh (
  = image_tag 'refresh-recaptcha.gif'
  ) knopje om andere woorden te laten verschijnen.
.captcha-container
  = recaptcha_tags :display => { :theme => 'white', :lang => I18n.locale }

