Type hier de onderstaande woorden ertussen. Gebruik eventueel het refresh (
.captcha-container
  = image_tag 'refresh-recaptcha.gif'
  ) knopje om andere woorden te laten verschijnen.
.captcha-container
  = recaptcha_tags :display => { :theme => 'white', :lang => I18n.locale }

