- title 'Reset instructies verzonden'

%h3 
  Uw account reset instructies zijn verzonden naar uw email adres. 
%p
  Gebruik de link in uw mail om in te loggen en uw wachtwoord op nieuw in te stellen
