.right_heading Instellingen
%ul
  %li= aspect_link "settings/projects#edit",  t( ".project" ), edit_settings_project_path
  %li= aspect_link "settings/profile_fields", t( ".profile_fields" ), settings_profile_fields_path


