.message
  %h3 
    = message_subject(location_comment)
    = message_info(location_comment)
  .message-body
    = markup location_comment.body
    .message-actions
      = link_to "antwoorden", city_location_comment_path(location_comment.to_param, :location_id => location_comment.reference_id)
    .message-actions-line
    .clear

