- title "Boodschap: #{@location_comment.parent_subject}"
- context_action ".back", city_location_comments_path(:location_id => @location_comment.reference_id)

#message
  = render_comment @location_comment
.nested-message
  #location-comments
    = render_nested @location_comment.children.arrange

%h3 Antwoord:
#new-location-comment
  = new_comment_form @location, @location_comment 

