%p
  Je kunt hier een mailing maken. En verstuuren naar een of meer verschillende groepen.
%p
  Het wordt binnenkort mogelijk om ook informatie over de gesprekken aan de mailing toe te voegen als bijlage. 

