%p
  Je kunt hier een mailing maken. En verstuuren naar een of meer verschillende groepen.
%p
  Gebruik de 'Test' knop om de mail alleen naar de coordinatoren te sturen. Zo kun je zien of de opmaak van de mail naar je zin is.
%p
  Een mailing kan eenmaal verstuurd niet meer geopend worden. Dit is om de historie zuiver te houden.
%p
  Vink 'Registratie aanhangen' aan om de registratie van deelenemers, gespreksleiders en organisatoren rond te sturen.

