- title "Mailing boodschappen"
- page_side_bar 'side_bar'

%h3 Nieuwe mailing:
#new-mailing-message
  = new_mailing_message_form @mailing_message 

%h3 Verzonden mailings:
#mailing-messages
  = render partial: 'mailing_message', collection: @mailing_messages.roots, as: :mailing_message

