%div{:id => "trainings_#{training_type.to_param}"}
  = render partial: 'city/trainings/training', collection: training_type.trainings
  %div{:id => "training_new_#{training_type.to_param}"}
    .actions
      = link_to 'plan een training', new_city_training_path(training_type_id: training_type.to_param), remote: true
