- title "Training #{@training.name} #{time_period(@training)}"
- context_action ".edit", edit_city_training_path(@training)
- if @training.attendees.empty?
  %p Geen gespreksleiders ingeschreven aan deze training
- else
  %p Gespreksleiders
  %ul
    - @training.attendees.each do |attendee|
      %li=  person_entry attendee

