- title 'Voeg dialoog ronden toe'
.dialog-container
  %p
    .label= label_tag @location, :name
    .input= text_field_tag @location, :name, :disabled => true
#conversations
  = render partial: 'conversations/index', locals: { conversations: @location.conversations }
.actions
  = link_to "Voeg publicatie details toe", edit_organizer_location_path(:step => :publication)
