%h1 Listing city_locations

%table
  %tr
    %th
    %th
    %th

  - @city_locations.each do |location|
    %tr
      %td= link_to 'Show', city_location_path(location)
      %td= link_to 'Edit', edit_city_location_path(location)
      %td= link_to 'Destroy', city_location_path(location), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_city_location_path
