- title 'Selecteer een organisator voor de nieuwe locatie'
= form_tag new_city_location_path, :method => 'get' do
  .dialog_container
    .label= "Kies tafelorganisator"
    .input= select_tag 'organizer_id', options_from_collection_for_select(@organizers, "id", "name")
    .clear
  .actions
    =submit_tag "Maak een nieuwe locatie"


