%div#dialog-form
- title "Inschrijvingen gesprekken van #{ @location.name}"
- context_action ".destroy_location", city_location_path(@location.to_param),
                                                           method: :delete,
                                                           title: "Deze locatie inclusief gesprekken verwijderen",
                                                           confirm: "Weet je zeker dat je deze locatie wilt verwijderen?. Alle bijbehorende gesprekken en inschrijvingen gaan dan verloren"
- location_submenu

%h3 
  Geoorganiseerd door 
  = @location.organizer.name
  = guarded_link_to t( ".edit_organizer" ), controller: 'city/locations', action: 'organizer', id: @location.to_param
%p
  Hieronder zie je de inschrijvingen voor dit dialooggesprek. 
  Deze gespreksleiders en deelnemers zijn nog niet ingedeeld bij een specifieke tafel. 
  De preciese indeling kan ter plekke gemaakt worden.

#conversations
  = render partial: 'conversations/index', locals: { conversations: @location.conversations }

