- title "Mijn trainingen"
- if (@training_types.empty?)
  %p
    Er zijn nog geen trainingen gepland
- else
  = form_for contributor_training_registrations_path, :method => :put do 
    = training_registration_tags @training_types, @attendee, 'ik doe niet mee aan'
    = submit_tag "update"
.clear
