%table{ id: "list-training-#{training_type.id}", class: 'list-training' }
  %tr
    %td.training-data
      %h2= link_to training_type.name, city_training_type_path(training_type.to_param)
      = render partial: 'city/trainings/index', locals: { training_type: training_type }

