/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require forms
 *= require locations
 *= require location_comments
 *= require trainings
*/
body { 
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Trebuchet MS", arial, helvetica, sans-serif;
  font-size: 12px;
  text-align:center;
  background-color:white;
  text-align:left;
  margin: 0 auto;
  padding: 0;
  min-width:750px;
  border: solid gray 1px;
  background-color: #edebeb;
}

div,
textarea {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Trebuchet MS", arial, helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
}
div {
    background-color:transparent;
}

div.left {
  float:left;
}
div.right {
  float:right;
}
div.conversation-leaders {
  float:left;
  margin:10px;
  width:300px;
}
div.participants {
  float:left;
  margin:10px;
  width:300px;
}

div.clear {
  clear:both;
}
a.edit { padding: 2px; }
a.email { padding: 1px; }
a.move { padding: 1px; }


#blad {
	text-align:left;
    margin: 0 auto;
    padding: 0;
    min-width:750px;
    border: solid gray 1px;
    background-color: #edebeb;
}


#heading {
    padding: 10px;
    height:60px;
    background-color:#F4EBD5;
}


#heading-login_info {
    padding:160px 10px 0 0;
    text-align:right;
    height:14px;
    color:white;
}

#heading-login_info a { color: white;}

#main-menu {
    height:22px;
    padding:0 10px;
    background-color:#F4EBD5;
}

#main-left-menu { float:left; height:20px; margin:0px; }

#main-right-menu { float:right; height:20px; margin:0px;}

#main-menu ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#main-menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

#main-menu li a {
    float: left; /* for IE6 */
    background-color:#d0b28d;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px 7px;
    margin:0 2px;
}

#main-menu li a:link {text-decoration:none; color:white;}
#main-menu li a:visited {text-decoration:none;color:white;}
#main-menu li a:hover {text-decoration:none;background-color: #9f733d; color:#c0a27d;}
#main-menu li a:active {text-decoration:none;color:white;}

#main-menu li a.active {
    border-bottom:none;

}
#main-menu li a.active {
    font-weight:bold;
    border-top:medium solid #e0e0e0;
    background-color: #edebeb;
    font-color:black;
}
#main-menu li a.active:link {text-decoration:none; color:black;}
#main-menu li a.active:visited {text-decoration:none;color:black;}
#main-menu li a.active:hover {text-decoration:none;color:black;}
#main-menu li a.active:active {text-decoration:none;color:black;}

ul.main-sub-menu {
    list-style-type:none;
    padding:0px 10px;
    margin:0pt
}
ul.main-sub-menu li {
    display: inline;
    padding: 0;
    background-color:transparent;
    margin: 0 4;
}

#side-bar ul {
    list-style-type:none;
    padding:0px 10px;
}
#side-bar li {
    margin: 2px;
}
#side-bar a:link { color: #686868;}
#side-bar a:visited { color: #686868;}
#side-bar a:hover {background-color: #c8c8c8; color: white;}
#side-bar a:active {color: #8b5a1e;}

span.selected-text { background-color: #c8c8c8; padding:2px; margin:2px; font-bolder:bold; }

#notice {
    margin:10px;
    padding:5px 20px;
    font-weight:bolder;
    font-style: italic;
    border:1px solid #0f0;
    background-color: #b0feb0;
    color:green;
}
#notice span {
   padding:5px;
}
#alert {
    margin:10px;
    padding:5px 20px;
    font-weight:bolder;
    font-style: italic;
    border:1px solid red;
    background-color: #feb0b0;
    color:red;
}
#alert span {
   padding:5px;
}

#content-frame {
}

table { table-layout:fixed; border-collapse: collapse; border-spacing:0;}

table.columns-layout {
    width:100%;
}

table.columns-layout td { vertical-align:top; }

#main-bar {
    width:75%;
    padding:10px;
}
#main-bar div.col {
    box-shadow: 3px 3px 3px gray;
    background-color: white;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 6px;
}

#main-bar div.bottom {}

td#side-bar { 
  width:25%;
  padding:10px;
}

div.main-sub-menu { float:right; }
#side-bar .right_heading { 
  font-size:1.2em;
  padding:5px;
  margin:5px;
  background-color: #c8c8c8;
}

#page-header {
    background-color:#F4EBD5;
    padding:10px;
    font-size:large;
    font-weight:bold;
}
#page-content {
    margin:0 20px;
}


#blad-menu {
    float:right;
    margin-right:4px;
    width:250px;
    background:#eef5f9 url(/images/menu-background.png) scroll left repeat-y;
}
#blad-menu-left-top {
    background:transparent url(/images/menu-background-left-top.png) scroll left top no-repeat;
}   
#blad-menu-left-bottom {
    background:transparent url(/images/menu-background-left-bottom.png) scroll left bottom no-repeat;
}

#blad-body {
    min-height:340px;
    background-color:white;
}
#blad-body div.clear { width:900px; }


#blad-content {
    padding:10px;
    width:880px;
    float:left;
}
#footer {
    clear:all;
    background-color:#eef5f9;
    text-align:center;
    color:#5880a4;
    font-family:"Lucida Sans Unicode","Lucida Sans","Geneva","Trebuchet MS",arial,helvetica,sans-serif;
    font-size:10pt;
}

#footer ul {
    list-style-type:none;
    padding:0px;
    margin:0pt
}

#footer li {
    display:inline;
    
}


li {margin-bottom:1em;}
ul.dense li,
ul.menu-list li {margin:0;}

img {
	border:none;
}
#heading h1 {
	margin: 0; padding: 0;
}
h1,h2, h3, h4, h5 {
	font-weight: normal;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; } 
h5 { font-size: 1.1em; }


html[xmlns] .clear {
	clear:both;
	padding-top:2px;
}
ul.nobullets {
	list-style-type:none;
}
ul.menu-list {
	list-style-type:none;
	padding:0px;
	margin:0pt
}
ul.menu-list li {
	display:block;
	padding-bottom:0.5em;
}


.menu-content {
    padding:20px 20px 20px 40px;
 	background-color:transparent;
}
.menu-item {
	margin-top:5px;
}
.menu-item-calendar,
.menu-item-info,
.menu-item-uitroep,
.menu-item-vraag,
.menu-item-inloop  {
 	position:relative;
 	left:-18px;top:-10px;
 	color:black;
 	padding:15px 0px 5px 40px;
}

.menu-item-calendar {
 	background:transparent url(/images/calendar-icon.png) scroll left top no-repeat; 
}

.menu-item-info {
	background:transparent url(/images/info-icon.png) scroll left top no-repeat; 
}

.menu-item-inloop {
	background:transparent url(/images/inloop-icon.png) scroll left top no-repeat; 
}

.menu-item-uitroep {
	background:transparent url(/images/uitroep-icon.png) scroll left top no-repeat; 
}

.menu-item-vraag {
	background:transparent url(/images/vraag-icon.png) scroll left top no-repeat; 
}

div.list-filter {width: 100%; padding-left:10px;}
div.list-info {width: 100%; text-align:right;}
div.error {color:red;}

textarea.large { width: 350px; height: 100px; }
p.formdoc {padding:0px 20px; font-size: 0.8em;}
.formElement {min-height:33px; padding: 1px 1px;}
.formElement .label {clear:left;float:left; width: 125px; padding: 8px 0 0 0;}
.formElement .control {width:375px; float:left; padding:1px, 1px;}
.formContent { width: 525px; padding:10px 12px; font-size: 1.2em; }
.formContent .partij { padding:5px; margin:5px; border:1px solid lightBlue;}


div.field_with_errors input { border: solid red 1px; }



#heading-navigation {
    text-align:right;
    height:14px;
    color: #8b5a1e;
}

#heading-navigation a {
    padding:4px 5px;
    color: #8b5a1e;
}

#heading-navigation a:link { color: #8b5a1e;}
#heading-navigation a:visited { color: #8b5a1e;}
#heading-navigation a:hover {background-color: #c0a27d; color: white;}
#heading-navigation a:active {color: #8b5a1e;}

#page-content {
    margin:20px;
}


.list-training { width:100%; padding: 10px 0pt; border-bottom: 1px solid #e9e7e7; }
.list-training td { padding:5px; }
.list-training .training-data a {
    color: #8b5a1e;
    font-size: 14px;
    line-height: 1.4em;
}

.list-training .training-data a:link {text-decoration:none; }
.list-training .training-data a:visited {text-decoration:none;}
.list-training .training-data a:hover {text-decoration:none; background-color: #8b5a1e; color:white;}
.list-training .training-data a:active {text-decoration:none;}

.list-training .training-data span { color: #acacac;}
.list-training .training-modified-state { width:150px; text-align:right; color: #acacac; }
.list-training .training-status  { width:150px; }
.list-training .training-status .progress { color: #acacac; text-align:right; height:1.4em; padding:0 2px; }


.list-element { width:100%; padding: 10px 0pt; border-bottom: 1px solid #e9e7e7; }
.list-element td { padding:5px; }
.list-element .element-data a {
    color: #8b5a1e;
    font-size: 14px;
    line-height: 1.4em;
}
.list-element .element-data .title {
    color: #8b5a1e;
    font-size: 14px;
    line-height: 1.4em;
}

.list-element .element-data a:link {text-decoration:none; }
.list-element .element-data a:visited {text-decoration:none;}
.list-element .element-data a:hover {text-decoration:none; background-color: #8b5a1e; color:white;}
.list-element .element-data a:active {text-decoration:none;}

.list-element .element-data span { color: #acacac;}
.list-element .element-modified-state { width:150px; text-align:right; color: #acacac; }
.list-element .element-status  { width:150px; }
.list-element .element-status .progress { color: #acacac; text-align:right; height:1.4em; padding:0 2px; }

.list-element .training-register-link { color:#8b5a1e; width:200px; text-align:right; vertical-align:bottom; }
.list-element .training-description { display:none; }
.expandable-training-element { cursor:pointer; }

span.progress_indicator { color:gray; font-weight:bold;text-align:center; display:inline-block; width:50px;}

ul.location_todo_list { border-top: 1px solid lightgrey;list-style-type:none;padding:0; }
ul.location_todo_list .done { margin:2px 0; color:gray; font-weight:bold;text-align:center; display:inline-block; width:50px;}
ul.location_todo_list li { margin:0; }

span.hidden { display:none }


#sortable .handle {
  background-image: url('/assets/handle.png');
  width: 32px;
  height: 32px;
  float: left;
  margin: 4px 8px 4px 0px;
  cursor: pointer;
}
.profile_field_name { 
  float: left;
  width: 150px;
}
.profile_field_example {
  float: left;
}

