.dialog-container {
  display:block;
}
.dialog-container {
  margin:4px 10px;
  padding:10px 10px; 
  border: solid 1px #F4EBD5; 
  border-radius: 6px;
}
.dialog-container .actions {
  text-align: right;
}
.dialog-container h3 {margin: 0.5em 0;}
.dialog-container h4 {margin: 0.25em 0;}

input.large { width: 250px; height: 18px; padding: 0px; }

.input-container {
	display: block;
  padding: 3px 0px;
	position:relative;
	clear: both;
  min-height: 24px;
	width: 100%;
}
.dialog-container .field-type-container {
  float:right;
  width:300px;
}
.dialog-container .field-type-container textarea {
  width:25em;
  height:5em;
}
.dialog-container .left-input-container {
	display: block;
  padding: 3px 0px;
	position:relative;
  min-height: 24px;
	width: 300px;
  float: left;
}
.dialog-container .input-container select.normal{
  width:219px;
}
.dialog-container .input-container input {
  width:215px;
}
.dialog-container .input-container input[type='checkbox'] {
  width:16px;
  padding:2px;
}
.dialog-container .input-container label.checkbox {
}
.field_with_errors input { border: solid red 1px; }
.inputLabel {
	clear: both;
	float: left;
	margin: 2px 5px 0px 0px;
	font-weight: bold;
	width: 145px;
}
.label {
	clear: both;
	position:relative;
	float: left;
	margin: 2px 5px 0px 0px;
	font-weight: bold;
	width: 138px;
}
.input {
	position: relative;
	width: 220px;
	float: left;
	margin: 0px 2px 0px 0px;
}
.input.wide {
  width:400px;
}
.input input, div.input_container_control textarea {
	height: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
div.actions {margin:10px; padding:10px 0px; clear:both; font-size:12px; text-align:right;}

.input textarea {
  width:534px;
  height:150px;
	overflow:auto;
}
textarea.profile_text_area {
  width: 219px;
}
.message-container {
  @extend .dialog-container;
  width:540px;
  margin:4px 0px;
}
.message-subject-container {
  @extend .input-container
}
.message-body-container {
  @extend .input-container
}
.message-subject-container .label {
  width: 80px;
}
.message-container .message-subject-container input {
  width: 447px;
}
.message-subject-container .input {
  width: 447px;
}
.message-container .actions {
  width: 524px;
  margin: 0 10px;
  padding-bottom: 0px;
}
.message-notifications-container h4 {
  background-color:#EDEBEB;
}
#location_todo_list_editor {
  margin-left: 143px;
  width: 350px;
}
.captcha-container {
  float: right;
  margin: 10px 0;
}
