.dialog-container {
  display:block;
}
.dialog-container .input-container {
	display: block;
  padding: 3px 0px;
	position:relative;
	clear: both;
  min-height: 24px;
	width: 100%;
}
.dialog-container .input-container.field-type {
  float:right;
  width:300px;
}
.dialog-container .input-container.field-type textarea {
  width:25em;
  height:5em;
}
.dialog-container .input-container select.normal{
  width:219px;
}
.dialog-container .input-container input {
  width:215px;
}
.dialog-container .input-container input[type='checkbox'] {
  width:16px;
  padding:2px;
}
.dialog-container .input-container label.checkbox {
}

.field_with_errors input { border: solid red 1px; }
div.inputLabel {
	clear: both;
	float: left;
	margin: 2px 5px 0px 0px;
	font-weight: bold;
	width: 145px;
}
div.label {
	clear: both;
	position:relative;
	float: left;
	margin: 2px 5px 0px 0px;
	font-weight: bold;
	width: 138px;
}
div.input {
	position: relative;
	width: 220px;
	float: left;
	margin: 0px 2px 0px 0px;
}
.input.wide {
  width:400px;
}
div.input input, div.input_container_control textarea {
	height: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
div.actions {margin:10px; padding:10px 0px; clear:both; font-size:12px; text-align:right;}

div.input textarea {
	overflow:auto;
}

