.message {
 border: solid 1px #F4EBD5; 
 margin: 0.5em 0;
}
.message:hover .message-actions {
  display: block;
}
.message-body {
  padding:0 3px;
}
.message-body h1 {
  font-size: 1.5em;
}
.message-body h2 {
  font-size: 1.25em;
}
.message-body h3 {
  font-size: 1.15em;
}
.nested-message {
  margin-left: 30px;
}
.message-actions-line {
  height:1.5em;
}
.message-actions {
  font-weight: normal;
  text-align: right;
  float: right;
  margin-left: 1em;
  display: none;
}
.message-info {
  font-weight: normal;
  color: grey;
  text-align: right;
  float: right;
}
.message h3 {
  font-weight: bolder;
  font-size: inherit;
  background-color: #F4EBD5;
  padding: 0.25em; 
  margin: 0px;
  height: 1.25em;
}

