.city_banner {
  position:relative; 
  width:200px; 
  height:170px; 
}
.city_banner_photo {
  width:200px; 
  height:170px; 
  position:absolute; bottom:0; border-radius:5px;
}
.city_banner_text {
  padding:3px; 
  position:absolute; 
  bottom:0; 
  background-color: lightblue; 
  width:194px; 
  color: darkblue; 
}
.banner-list .city_banner {
  margin:10px;
  float:left;
  cursor:pointer;
}
.banner-list .city_banner:hover {
  border: solid 4px lightblue;
  margin: 6px;
}
.city-details-container {
  margin: 4px 10px 0 0;
}
.city-details-container .city_banner {
  margin-left: 1em;
  margin-bottom: 1em;
}
.conversation {
  margin:5px 0px; 
  border: solid 1px #F4EBD5; 
  border-radius: 6px;
}

.conversation h3 {
  font-weight: bolder;
  font-size: inherit;
  background-color: #F4EBD5;
  padding: 0.25em;
  margin: 0px;
  height: 1.25em;
}
.conversation-container {
  padding:5px 5px; 
}
.conversation-container h4 {
  margin: 0.5em 0;
  background-color:#EDEBEB;
}
.conversation span.table-info {
  float:right;
  width:14em;
  margin-right: 50px;
}
.conversation span.operations {
  float:right;
  width: 50px;
  display:none;
}
.conversation:hover span.table-info {
  display:block;
  margin-right: 0px;
}
.conversation:hover span.operations {
  display:block;
}
.conversation-container .person-list li {
  padding:0.25em;
  height:19px;
}

.conversation-container .person-list li span {
  width:51px;
  float:left;
}
.conversation-container .person-list li span.no-operations {
  display:block;
}

.conversation-container .person-list li span.operations {
  display:none;
}
.conversation-container .person-list li:hover {
  margin-left:0px;
}

.conversation-container .person-list li:hover span.no-operations {
  display:none;
}

.conversation-container .person-list li:hover span.operations {
  display:block;
}

.city-details-container .city_banner_text h3,
.city_banner_text h3,
.city_banner_text p {
  margin:0px
}

.publication-example {
	background:white url(/assets/page_bg.gif) repeat;
  padding: 10px 0px;
}
.publication-example a {
	cursor: pointer;
	color: #c388c2;
	font-weight: bold;
	text-decoration: none;
}
.publication-example a:hover {
	text-decoration: underline;
}
.publication-example div {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.publication-example h4 {
  font-weight: bold;
}
.publication-example h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.publication-example h3 {
  font-size: 120%;
  font-weight: bold;
}
.publication-example .example-content {
  width:660px;
  margin: 0px auto;
  padding: 5px 10px;
  background:white;
}
