- title "Publicatievoorbeeld '#{@location.name}' #{published(@location)}"
- context_action".edit", edit_city_location_publication_path(:location_id => @location.to_param)
- location_submenu
.publication-example
  .example-content
    .city-details-container
      = render :partial => 'locations/location_publication_details'
