- title "Publicatievoorbeeld '#{@location.name}'"
- context_action".location", city_location_path(@location.to_param)
- context_action".edit", edit_city_location_publication_path(:location_id => @location.to_param)
.publication-example
  .example-content
    .city-details-container
      = render :partial => 'locations/location_publication_details'
