- title "Dialooglocaties"

.banner-list
  - if @locations.empty?
    %h2 Er zijn nog geen locaties aangemeld
    = link_to "Doe mee en meld jouw locatie als eerste aan", new_registration_organizers_url
  - else
    = render :partial => 'location', :collection => @locations

