.city-details-container
  = render :partial => 'location_publication_details'
  %h3 Schrijf je in op een van de volgende dialooggesprekken

= link_to "terug naar de lijst van locaties", locations_path
